/* override Bootstrap */
.navbar-static-top {
  margin-bottom: 0;
}

/* misc */
i.fa-heartbeat {
  color: #ff1142;
}

.qa-breadcrumb {
  max-width: 790px;
  margin: 0 auto;
  margin-top: 20px;
}

/* others */

body {
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

body > nav i {
  margin: 0 5px;
}

footer {
  background-color: #f9f9f9;
}

footer p {
  color: #333;
  text-align: center;
  margin: 0;
  border-top: 1px solid #efefef;
}

footer a {
  color: #333;
}

.messenger {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.messenger img {
  width: 48px;
}
